---

---

<section data-testid="about" id="about" class="mb-10 flex flex-col items-center justify-center">
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">A Propos de moi</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			Il y a deux ans, j'ai découvert le monde du développement web, et depuis, je ne cesse d'en
			apprendre davantage. Aujourd'hui, je me spécialise dans Next.js pour le développement
			frontend, tout en travaillant sur des projets backend avec Django. Mon expertise repose sur la
			création d'applications web performantes, dynamiques et robustes, en combinant les forces de
			ces frameworks puissants. Que ce soit pour concevoir des interfaces utilisateur réactives ou
			développer des APIs backend efficaces, je suis toujours prêt à relever de nouveaux défis et à
			offrir des solutions innovantes et sur mesure.
		</p>
	</div>
</section>
